.banner{
    background: url(img/osu-bg.png);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.thumbnail{
    width: 410px;
    height: 230px;
}

.mt-3:hover{
    background-color: blue;
    border-radius: 25px;
    color: white;
}

.mt-3{
    border: 2px solid blue;
    border-radius: 25px;
}
