.banner{
    background: url(img/osu-bg.png);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.mt-3:hover{
    background-color: blue;
    border-radius: 25px;
    color: white;
}

.mt-3{
    border: 2px solid blue;
    border-radius: 25px;
}

.display-1{
    text-shadow:1px 1px 3px black,
                -1px 1px 3px black,
                1px -1px 3px black,
                -1px -1px 3px black;
    color: white;
}

.text-center{
    padding-top: 60px;
}
    